In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
dataset = pd.read_csv('/content/drive/MyDrive/Fraud detection Python/creditcard.csv')

In [4]:
print(dataset)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 31 columns]

In [5]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Highly unbalanced dataset as more than 90 % of the dataset contains legit transactions

0 -> Legit

1 -> Fraud

In [7]:
legit = dataset[dataset.Class == 0]
fraud = dataset[dataset.Class == 1]

In [ ]:
print(legit)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284315 rows x 31 columns]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
print(legit.Amount.describe())
print(fraud.Amount.describe())

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64
count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under sampling

Taking a sample of legit transactions

In [13]:
legit_sample=legit.sample(n=492)

In [14]:
print(legit_sample)

            Time        V1        V2        V3        V4        V5        V6  \
18764    29746.0 -1.487471  0.935857  1.127789 -0.654204  1.127976  2.521210
231152  146633.0 -1.497038 -0.197784  0.630208 -2.272306 -0.817233 -0.050711
80443    58491.0  0.937407 -0.422729  1.290273  1.308851 -1.122294  0.184979
174140  121790.0  1.864988 -0.336961 -1.574751 -0.021210  1.068470  1.356751
70089    53704.0 -0.765036  0.826702  0.872052 -0.508803  0.513427 -0.819389
...          ...       ...       ...       ...       ...       ...       ...
126493   78018.0 -1.991079 -0.075404  1.923134 -0.603880 -0.043116  0.501292
183552  125853.0  1.917987 -0.710925 -0.982061 -0.584893  0.183494  1.098062
118773   75210.0  1.229851  0.020727 -0.377078 -0.067697 -0.028996 -0.893746
179365  124042.0 -0.336515 -0.636224  1.133631 -0.791362 -0.296076 -0.061721
130449   79355.0 -0.808231  0.245480  2.317360 -2.179080 -0.245652  0.197469

              V7        V8        V9  ...       V21       V22       V23  \
18764   0.246583  0.657985  0.077190  ... -0.067978 -0.085401 -0.253414
231152 -0.596730 -0.222864 -0.525592  ...  1.143421  0.657377 -0.269975
80443  -0.777331  0.288314  0.824983  ...  0.320182  0.746000 -0.102927
174140 -0.116150  0.329134  0.216435  ... -0.117670 -0.155896  0.312911
70089   0.426829  0.042289 -0.171758  ... -0.208143 -0.639656 -0.058395
...          ...       ...       ...  ...       ...       ...       ...
126493 -0.462806  0.514031 -1.445463  ... -0.099314  0.126801 -0.495765
183552 -0.769151  0.441825  0.915383  ...  0.058090  0.361095  0.263800
118773  0.362940 -0.228071 -0.361403  ...  0.002697 -0.096687 -0.169227
179365 -0.375816  0.225761 -1.015146  ... -0.437890 -1.032633  0.391580
130449  0.175940  0.296472  1.440626  ... -0.026615  0.277666 -0.403531

             V24       V25       V26       V27       V28  Amount  Class
18764  -2.172394  0.141572  0.547469 -0.369286  0.104892   21.50      0
231152  0.472470  0.137145 -0.126030  0.393538 -0.043933  117.00      0
80443   0.062930  0.212238 -0.214692  0.065979  0.053581  100.00      0
174140 -0.694315 -0.367576  0.341081 -0.030001 -0.075350   32.21      0
70089  -0.065465 -0.501651 -0.131288  0.060414  0.093381    4.49      0
...          ...       ...       ...       ...       ...     ...    ...
126493 -0.315389  0.122171 -0.408867 -0.488451 -0.277328   25.00      0
183552 -1.573917 -0.636107  1.273776 -0.057051 -0.091184   11.00      0
118773  0.095200  0.544399  1.069565 -0.126222 -0.016308   44.95      0
179365 -0.579186 -1.225173  0.343832  0.148998  0.199811   65.85      0
130449 -0.346528  0.425381 -0.746910  0.191004 -0.105907    1.00      0

[492 rows x 31 columns]

Concatenating Legit_sample with fraud transactions

In [22]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [23]:
new_dataset.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
18764,29746.0,-1.487471,0.935857,1.127789,-0.654204,1.127976,2.521210,0.246583,0.657985,0.077190,...,-0.067978,-0.085401,-0.253414,-2.172394,0.141572,0.547469,-0.369286,0.104892,21.50,0
231152,146633.0,-1.497038,-0.197784,0.630208,-2.272306,-0.817233,-0.050711,-0.596730,-0.222864,-0.525592,...,1.143421,0.657377,-0.269975,0.472470,0.137145,-0.126030,0.393538,-0.043933,117.00,0
80443,58491.0,0.937407,-0.422729,1.290273,1.308851,-1.122294,0.184979,-0.777331,0.288314,0.824983,...,0.320182,0.746000,-0.102927,0.062930,0.212238,-0.214692,0.065979,0.053581,100.00,0
174140,121790.0,1.864988,-0.336961,-1.574751,-0.021210,1.068470,1.356751,-0.116150,0.329134,0.216435,...,-0.117670,-0.155896,0.312911,-0.694315,-0.367576,0.341081,-0.030001,-0.075350,32.21,0
70089,53704.0,-0.765036,0.826702,0.872052,-0.508803,0.513427,-0.819389,0.426829,0.042289,-0.171758,...,-0.208143,-0.639656,-0.058395,-0.065465,-0.501651,-0.131288,0.060414,0.093381,4.49,0
73032,54946.0,-0.299926,1.088409,0.835446,-0.333339,0.694624,0.024649,0.623212,0.119551,-0.651297,...,-0.283004,-0.750501,-0.176880,-0.875424,-0.017803,0.125135,0.243490,0.077320,3.87,0
111718,72340.0,-3.109306,2.790371,-0.618378,-0.086306,-2.010206,-1.054208,-1.295131,2.318561,-0.541239,...,-0.087879,-0.708246,0.288913,0.462568,0.021192,0.074010,0.053026,0.026185,9.86,0
28013,34811.0,-0.603670,1.055081,0.757501,-0.125712,-0.106639,-0.564457,0.270281,0.483020,-0.737320,...,0.180291,0.309236,-0.134968,-0.000410,-0.382149,0.294273,-0.032777,0.072134,1.50,0
155607,105885.0,1.393300,-1.245543,-0.812613,0.419982,-0.009358,1.473624,-0.663942,0.379134,2.362596,...,0.299286,0.779228,-0.064962,-1.678552,-0.431318,-0.195450,0.002778,-0.027931,254.23,0
57079,47742.0,1.104796,0.329699,0.521626,2.546558,-0.079289,-0.066824,0.127920,-0.036712,-0.429926,...,-0.231966,-0.741012,-0.043609,-0.148412,0.452397,-0.122166,-0.013381,0.027985,56.84,0

Selecting Target variable and Training variables

In [24]:
x=new_dataset.iloc[:,:-1]

In [25]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
18764,29746.0,-1.487471,0.935857,1.127789,-0.654204,1.127976,2.521210,0.246583,0.657985,0.077190,...,-0.105917,-0.067978,-0.085401,-0.253414,-2.172394,0.141572,0.547469,-0.369286,0.104892,21.50
231152,146633.0,-1.497038,-0.197784,0.630208,-2.272306,-0.817233,-0.050711,-0.596730,-0.222864,-0.525592,...,-0.196505,1.143421,0.657377,-0.269975,0.472470,0.137145,-0.126030,0.393538,-0.043933,117.00
80443,58491.0,0.937407,-0.422729,1.290273,1.308851,-1.122294,0.184979,-0.777331,0.288314,0.824983,...,-0.034629,0.320182,0.746000,-0.102927,0.062930,0.212238,-0.214692,0.065979,0.053581,100.00
174140,121790.0,1.864988,-0.336961,-1.574751,-0.021210,1.068470,1.356751,-0.116150,0.329134,0.216435,...,-0.170784,-0.117670,-0.155896,0.312911,-0.694315,-0.367576,0.341081,-0.030001,-0.075350,32.21
70089,53704.0,-0.765036,0.826702,0.872052,-0.508803,0.513427,-0.819389,0.426829,0.042289,-0.171758,...,-0.164650,-0.208143,-0.639656,-0.058395,-0.065465,-0.501651,-0.131288,0.060414,0.093381,4.49

In [26]:
y=new_dataset.iloc[:,-1]

Dividing the variables in training and testing data

Training -> 70%

Testing -> 30%

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3,stratify=y)

In [31]:
x_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
157629,110167.0,-3.492168,-3.883951,0.132148,0.803609,1.075150,-0.497138,0.746771,-0.173398,1.592121,...,0.284366,-0.350805,-1.068913,1.041057,-0.623113,-0.907594,-0.277846,0.072366,0.624095,635.93
198172,132364.0,0.039147,0.884311,0.139881,-0.824269,0.795817,-0.507598,0.961718,-0.088291,-0.427934,...,0.049496,-0.229494,-0.461261,-0.019393,-0.470837,-0.421579,0.146937,0.250313,0.084485,0.89
243302,151877.0,2.051799,-0.195941,-1.212433,0.532867,-0.091394,-0.943137,0.124395,-0.332033,0.777317,...,-0.192971,0.125621,0.687356,-0.027886,-0.006991,0.235841,0.730644,-0.066975,-0.071147,11.50
90553,63067.0,1.241224,0.081476,0.363350,0.441266,-0.397396,-0.514753,-0.153920,0.050700,0.041971,...,-0.171936,-0.245851,-0.819215,0.102136,-0.049870,0.179819,0.103030,-0.043250,0.002012,0.99
82400,59385.0,-7.626924,-6.976420,-2.077911,3.416754,4.458758,-5.080408,-6.578948,1.760341,-0.599509,...,2.875260,1.224795,-0.656639,-0.330811,-0.078946,0.270306,0.431119,0.821381,-1.056088,18.98

In [32]:
x_test.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
151565,95680.0,-3.289357,2.549655,-0.264783,-0.383236,-0.589487,-0.735040,0.065477,0.688144,3.447187,...,0.661397,-0.827993,-1.032679,0.222417,-0.065202,0.421277,0.106935,0.874437,0.457248,0.01
120837,75978.0,-5.140723,3.568751,-5.896245,4.164720,-4.091193,-1.989960,-5.472436,2.422821,-2.909735,...,0.318995,1.131130,0.118022,-0.332704,0.139941,0.324758,-0.180769,0.177810,0.661555,99.90
247091,153451.0,0.066255,-0.266618,-1.170279,-0.400821,2.222208,-0.702468,0.359574,-0.166717,0.599190,...,0.164415,-0.019310,0.129801,0.250602,-1.510295,-1.879696,-0.333126,0.190097,0.164814,10.00
77682,57163.0,-10.363049,4.543672,-9.795898,5.508003,-6.037156,-0.133493,-11.724346,-3.198346,-4.767842,...,0.924396,-2.457145,1.687257,0.977178,-0.543369,-0.289125,-0.107586,0.330642,0.163577,1.00
189124,128269.0,-1.327157,1.939796,-0.737618,2.615674,3.061929,1.348576,1.468158,-0.227674,-0.871726,...,-0.119058,-0.447242,-0.595955,0.162478,-2.321129,-0.969409,-0.408426,-0.344658,0.046802,9.85

Now Finally training our model on training data

In [49]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [50]:
y_pred=model.predict(x_test)

Creating Confusion Matrix

In [51]:
conf_matrix=confusion_matrix(y_true=y_test, y_pred=y_pred)
print(conf_matrix)

[[141   7]
 [ 11 137]]

Calculating Precision and Recall

In [52]:
precision=conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[1][0])
print(precision," %")

0.9276315789473685  %

In [53]:
recall=conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[0][1])
print(recall," %")

0.9527027027027027  %

Calculating Accuracy of the model

In [54]:
print(accuracy_score(y_pred,y_test))

0.9391891891891891